<html>
<body>
<div>
    <form method="post">
        <input type="text", name="name", placeholder="name"/>
        <input type="text", name="age", placeholder="age"/>
        <input type="text", name="idCar", placeholder="car ID"/>
        <button type="submit">Add</button>
    </form>
</div>
<div>Список Водіїв</div>
{{#carmans}}
    <div>
        ID:
        <b>{{idCarman}}</b>
        name:
        <b>{{name}}</b>
        age:
        <b>{{age}}</b>
        car ID:
        <b>{{car}}</b>
    </div>
{{/carmans}}
</body>
</html>